{% extends "layout.html" %}

{% block nav %}
<a href="/" class="btn btn-inverse">Home</a>
{% endblock %}

{% block content %}
<div class='login-form clearfix yovite'>
  <h2>ABOUT YoVite</h2>
  <div class="row center-block justify">
    <div class="col-lg-12">
      <h4>What is YoVite?</h4>
      <p>YoVite is a meetup tool built on the YO platform. YoVite adds powerful but simple functionality that allows you to plan parties, games or dinners in just a few clicks.
      </p>
      <h4>How does YoVite work?</h4>
      <p>YoVite is easy as 1-2-3.</p>
      <div class = "indent">
        <h5>1) YOVITE.</h5>
        <p>Fill out our simple form with a concise event name. List the YO usernames of your guest. Set the minimum attendence and the time you're willing to wait for your friends to confirm.
        </p>
        <h5>2) YOBACK.</h5>
        <p>Wait for your friends to YO back. Anybody who sends a YO back becomes a subscriber to your event.
        </p>
        <h5>3) YO ON!</h5>
        <p>If you meet your minimum number of subscribers, event is on! You and all subscribers get a second YO. No second YO, no event.
        </p>
      </div>
      <h4>What problem does YoVite solve?</h4>
      <p> YoVite makes event planning quick and direct. Let's face it. Planning meetups is usually a drag. YoVite cuts the cross-firing texts and indecision that usually go along with planning a gettogether. Just send our quick form and wait for the YOBACK and YO ON!
      </p>
      <h4>How should I make my event names?</h4>
      <p> Concise and meaningful. Like: SOCCER2NITECP, FRI730NATEAPT or DRINK2NITE8EATALY.</p>
      <h4>Does YoVite require the YO app?</h4>
      <p>Yep. The host and all invitees need a YO username.</p>
      <h4>Who are you?</h4>
      <p>Web developers at <a href="http://www.fullstackacademy.com/">Fullstack Academy of Code.</a></p>
    </div>
  </div>
</div>
{% endblock %}